---
import Main from "../layouts/Main.astro";
import Post from "../components/Post.astro";
import MoreButton from "../components/MoreButton"
const pageSize = 5

const response = await fetch(
  import.meta.env.ASTRO_HYGRAPH_ENDPOINT,
  {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
      Accept: "application/json",
    },
    body: JSON.stringify({
      query: `query MyQuery($size: Int) {
  page: postsConnection(first: $size, orderBy: createdAt_DESC) {
    pageInfo {
      hasNextPage
      endCursor
    }
    postsArray: edges {
      cursor
      post: node {
        slug
        id
        createdAt
        content {
          html
        }
      }
    }
  }
}

		`,
		variables: { size: pageSize }
	    }),
  }
);


const data = await response.json();
const {page} = data.data;
---

<Main title="My Microblog">
  	<div>
		{page.postsArray.map((post) => {
		return <Post post={post.post} />
		})}
	</div>

	{page.pageInfo.hasNextPage && <MoreButton client:visible size={pageSize} currentCursor={page.pageInfo.endCursor} ENDPOINT={import.meta.env.ASTRO_HYGRAPH_ENDPOINT} />}

</Main>
